  <div class="container">
    <div class="eight columns">
      <h5>このサイトについて</h5>
      <p>Chromeのみ動作確認しています。</p>
      <p>ご意見などはTwitterからどうぞ。</p>
      <p><copyright name="wixoss-tcg.appspot.com"></copyright></p>
    </div>
    <div class="four columns social">
      <h5>作ってる人</h5>
      <a href="https://twitter.com/dm_plateau" target="blank">
        <img class="circle" src='https://pbs.twimg.com/profile_images/448465490071916544/OaK3Novs_400x400.jpeg'>
      </a>
    </div>
    <div class="four columns">
      <h5>メニュー</h5>
      <p><a href="#">デッキ集</a></p>
      <p><a href="#">カード検索</a></p>
      <p><a href="#">ユーザー</a></p>
    </div>
  </div>
