<div id="headerwrap">
  <header class="clearfix">
    <h1><span>WIXOSS</span> カード検索</h1>
    <div class="container">
      <div class="row">
        <div class="span12">
          <input type="text" ng-model="searchText" ng-keydown="handleKeydown($event)" placeholder="キーワードを入力してください" class="cform-text" size="40">
          <input type="submit" value="検索" class="cform-submit" ng-click="searchEvent();">
        </div>
      </div>
      <div class="row">
        <!--
        <div class="span12">
          <ul class="icon">
            <li><a href="#" target="_blank"><i class="icon-twitter-circled"></i></a></li>
          </ul>
        </div>
        -->
      </div>
    </div>
  </header>
</div>