<div class='five columns' style="font-size:10px;">
  <amazon></amazon>
</div>
<div class='eleven columns'>
  <div style="padding-top:15px;"></div>
  <div class="search-box">
    ルリグデッキ
    <label><checkbox ng-model="deckForm.white" class="btn-warning"></checkbox></label>
    <label><checkbox ng-model="deckForm.red" class="btn-danger"></checkbox></label>
    <label><checkbox ng-model="deckForm.blue" class="btn-primary"></checkbox></label>
    <label><checkbox ng-model="deckForm.green" class="btn-success"></checkbox></label>
    <label><checkbox ng-model="deckForm.black" class="btn-default"></checkbox></label>
    <hr>
    メインデッキ
    <label><checkbox ng-model="deckForm.white" class="btn-warning"></checkbox></label>
    <label><checkbox ng-model="deckForm.red" class="btn-danger"></checkbox></label>
    <label><checkbox ng-model="deckForm.blue" class="btn-primary"></checkbox></label>
    <label><checkbox ng-model="deckForm.green" class="btn-success"></checkbox></label>
    <label><checkbox ng-model="deckForm.black" class="btn-default"></checkbox></label>
    <hr>
    <button class="btn btn-nomal" ng-click="deckFormReset()">リセット</button>
    <button class="btn btn-info" ng-click="deckSearch()">検索</button>
  </div>
  <div style="padding-top:15px;"></div>
  <table ng-hide="decks.length == 0">
    <tr>
      <th class="wx80" nowrap></th>
      <th class="wx200" nowrap>デッキ名</th>
      <th class="wx90" nowrap>作成者</th>
      <th class="wx80" nowrap>更新日付</th>
    </tr>
    <tr ng-repeat="deck in decks">
      <td class="align-c">
        <span class="card white square" ng-show="deck.White"></span>
        <span class="card red square" ng-show="deck.Red"></span>
        <span class="card blue square" ng-show="deck.Blue"></span>
        <span class="card green square" ng-show="deck.Green"></span>
        <span class="card black square" ng-show="deck.Black"></span>
      </td>
      <td class="">
        <a ng-href="/deck/{{deck.Id}}">{{deck.Title}}</a>
      </td>
      <td class="align-c">
        <a href="/users/{{deck.Owner}}">{{deck.Owner}}</a>
      </td>
      <td class="align-c">{{deck.UpdatedAt | date:'yy/MM/dd' }}</td>
    </tr>
  </table>
  <div style="padding-top:15px;"></div>
  <div class="align-c">
    <button class="btn btn-default" ng-click="more()" ng-hide="end">さらに見る</button>
  </div>
  <div class="align-c" ng-show="decks.length == 0">
    投稿されているデッキはありません。
  </div>
</div>