<div class='five columns' style="font-size:10px;">
  <input type="text" id="cursor" style="position: absolute; z-index: -1; border: 0;">
  <div style="margin-top: 15px;">
    <tabset justified="true">
      <tab heading="ルリグ" deselect="deselect(lrigSearchText)" select="selectTab('lrig')">
        <div class="form-search" style="padding-bottom: 0.3em; padding-right: 1.2em;">
          <input type="text" class="form-control search-query" ng-model="lrigSearchText" placeholder="キーワード">
        </div>
        <cardsmalllist ng-repeat="card in lrigList | filter:lrigSearchText" ng-show="1 < lrigSearchText.length"></cardsmalllist>
      </tab>
      <tab heading="アーツ" deselect="deselect(artsSearchText)" select="selectTab('arts')">
        <div class="form-search" style="padding-bottom: 0.3em; padding-right: 1.2em;">
          <input type="text" class="form-control search-query" ng-model="artsSearchText" placeholder="キーワード">
        </div>
        <cardsmalllist ng-repeat="card in artsList | filter:artsSearchText" ng-show="1 < artsSearchText.length"></cardsmalllist>
      </tab>
      <tab heading="シグニ" deselect="deselect(signiSearchText)" select="selectTab('signi')">
        <div class="form-search" style="padding-bottom: 0.3em; padding-right: 1.2em;">
          <input type="text" class="form-control search-query" ng-model="signiSearchText" placeholder="キーワード">
        </div>
        <cardsmalllist ng-repeat="card in signiList | filter:signiSearchText" ng-show="1 < signiSearchText.length"></cardsmalllist>
      </tab>
      <tab heading="スペル" deselect="deselect(spellSearchText)" select="selectTab('spell')">
        <div class="form-search" style="padding-bottom: 0.3em; padding-right: 1.2em;">
          <input type="text" class="form-control search-query" ng-model="spellSearchText" placeholder="キーワード">
        </div>
        <cardsmalllist ng-repeat="card in spellList | filter:spellSearchText" ng-show="1 < spellSearchText.length"></cardsmalllist>
      </tab>
    </tabset>
  </div>
  <amazon></amazon>
</div>
<div class='eleven columns'>
  <div style="padding-top:20px;"></div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <!-- 白デッキ -->
  <table class="row">
    <tr>
      <th class="lrig wx10 pointer" ng-click="sort('lrig', 'Color')" style="padding:0" nowrap></th>
      <th class="lrig wx10" nowrap></th>
      <th class="lrig wx20" nowrap></th>
      <th class="lrig wx180 pointer" ng-click="sort('lrig', 'Name')" nowrap>カード名</th>
      <th class="lrig wx20 pointer" ng-click="sort('lrig', 'Category')" nowrap>種類</th>
      <th class="lrig wx20 pointer" ng-click="sort('lrig', 'Level')" nowrap>レベル</th>
    </tr>
    <tr ng-repeat="card in deck.Lrig | orderBy:deck.lrigPredicate:deck.lrigReverse">
      <td class="align-c card {{card.Color}}" style="padding:0"></td>
      <td class="align-c ">
        <i class="fa fa-trash fa-lg pointer" ng-click="removeCard(card.Category, $index);"></i>
      </td>
      <td class=" num-column">
        <select selectize ng-model="card.Num" ng-options="f for f in cardNums"></select>
      </td>
      <td class="">
        <a href="/card/{{card.Expansion}}/{{card.No}}" target="_blank">{{card.Name}}</a>
      </td>
      <td class="align-c ">{{card.Category}}</td>
      <td class="align-c ">
        <span ng-show="-1 < card.Level">{{card.Level}}</span>
      </td>
    </tr>
  </table>
  <!-- 黒デッキ -->
  <table class="row">
    <tr>
      <th class="main wx10 pointer" ng-click="sort('main', 'Color')" style="padding:0" nowrap></th>
      <th class="main wx10" nowrap></th>
      <th class="main wx20" nowrap></th>
      <th class="main wx170 pointer" ng-click="sort('main', 'Name')" nowrap>カード名</th>
      <th class="main wx20 pointer" ng-click="sort('main', 'Category')" nowrap>種類</th>
      <th class="main wx20 pointer" ng-click="sort('main', 'Level')" nowrap>レベル</th>
      <th class="main wx10 pointer" ng-click="sort('main', 'Burst')" nowrap>
        <i class="fa fa-asterisk fa-lg"></i>
      </th>
    </tr>
    <tr ng-repeat="card in deck.Main | orderBy:deck.mainPredicate:deck.mainReverse">
      <td class="align-c card {{card.Color}}" style="padding:0"></td>
      <td class="align-c ">
        <i class="fa fa-trash fa-lg pointer" ng-click="removeCard(card.Category, $index);"></i>
      </td>
      <td class=" num-column">
        <select selectize ng-model="card.Num" ng-options="f for f in cardNums"></select>
      </td>
      <td class="">
        <a href="/card/{{card.Expansion}}/{{card.No}}" target="_blank">{{card.Name}}</a>
      </td>
      <td class="align-c ">{{card.Category}}</td>
      <td class="align-c ">
        <span ng-show="-1 < card.Level">{{card.Level}}</span>
      </td>
      <td class="align-c ">
        <i class="fa fa-asterisk fa-lg" ng-show="card.Burst"></i>
      </td>
    </tr>
  </table>

  <div style="text-align: center;">
    <button type="button" class="btn btn-primary row" ng-click="save()" style="width:30em;">保存</button>
  </div>

  <div class="two columns">
    デッキ名
  </div>
  <div class="eight columns row">
    <input type="text" ng-model="deck.Title" class="form-control float-r">
  </div>

  <div class="two columns">
    公開設定
  </div>
  <div class="eight columns row scope-column">
    <select selectize ng-model="deck.Scope" ng-options="key as value for (key, value) in scopes"></select>
  </div>

  <div class="two columns">
    概要
  </div>
  <div class="eight columns row">
    <input type="text" ng-model="deck.Introduction" class="form-control float-r">
  </div>

  <div class="two columns">
    説明
  </div>
  <div class="eight columns row">
    <textarea ng-model="deck.Description" class="form-control float-r" rows="5"></textarea>
  </div>

  <div style="text-align: center;">
    <button type="button" class="btn btn-primary row" ng-click="save()" style="width:30em;">保存</button>
  </div>

</div>