<div class='five columns' style="font-size:10px;">
  <div style="margin-top: 15px;">
    <button type="button" class="btn btn-danger btn-block" ng-click="createDeck();">デッキ 新規作成</button>
  </div>
  <amazon></amazon>
</div>
<div class='eleven columns'>
  <div style="padding-top:20px;"></div>
  <table ng-hide="decks.length == 0">
    <thead>
      <tr>
        <th class="wx200"></th>
        <th class="wx300">デッキ名</th>
        <th class="wx100">公開状態</th>
        <th class="wx200">最終更新日時</th>
        <th class="wx50"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deck in decks">
        <td class="align-c wx200">
          <div class="card white square" ng-show="deck.White"></div>
          <div class="card red square" ng-show="deck.Red"></div>
          <div class="card blue square" ng-show="deck.Blue"></div>
          <div class="card green square" ng-show="deck.Green"></div>
          <div class="card black square" ng-show="deck.Black"></div>
        </td>
        <td class="wx300">
          <a ng-href="/mypage/deck/{{deck.Id}}">{{deck.Title}}</a>
        </td>
        <td class="align-c wx100">{{deck.Scope | scope}}</td>
        <td class="align-c wx200">{{deck.UpdatedAt | date:'yyyy/MM/dd HH:mm' }}</td>
        <td class="align-c wx50">
          <button type="button">削除</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="align-c" ng-show="decks.length == 0">
    保存しているデッキはありません。
  </div>
</div>