<div class='five columns' style="font-size:10px;">

  <!--
  <amazon></amazon>
  -->
</div>
<div class='eleven columns'>

  <style type="text/css" media="screen">
    .piyo {
      font-size: 10px;
    }
  </style>

  <div style="padding: 10px; border: 1px solid #999; border-radius: 5px; font-size: 12px;">

    <div style="display: flex; width: 100%;">
      <div class="six columns">
        <input type="text" class="text-input" ng-model="form.input">
      </div>
      <div class="six columns">
        <div class="btn-group">
          <label class="btn btn-warning piyo" ng-model="form.category" btn-radio="'ルリグ'" uncheckable>ルリグ</label>
          <label class="btn btn-warning piyo" ng-model="form.category" btn-radio="'アーツ'" uncheckable>アーツ</label>
          <label class="btn btn-warning piyo" ng-model="form.category" btn-radio="'シグニ'" uncheckable>シグニ</label>
          <label class="btn btn-warning piyo" ng-model="form.category" btn-radio="'スペル'" uncheckable>スペル</label>
        </div>
      </div>
    </div>

    <div style="display: flex; width: 100%;">
      <div class="six columns">
        <select class="piyo" ng-model="form.typeTemp" ng-options="t.Name for t in types">
          <option value="" selected="selected">-- タイプ --</option>
        </select>
      </div>
      <div class="six columns">
        <div class="btn-group">
          <label class="btn btn-warning piyo" ng-model="form.reality" btn-radio="'LR'" uncheckable>LR</label>
          <label class="btn btn-warning piyo" ng-model="form.reality" btn-radio="'LC'" uncheckable>LC</label>
          <label class="btn btn-warning piyo" ng-model="form.reality" btn-radio="'SR'" uncheckable>SR</label>
          <label class="btn btn-warning piyo" ng-model="form.reality" btn-radio="'R'" uncheckable>R</label>
          <label class="btn btn-warning piyo" ng-model="form.reality" btn-radio="'C'" uncheckable>C</label>
          <label class="btn btn-warning piyo" ng-model="form.reality" btn-radio="'ST'" uncheckable>ST</label>
          <label class="btn btn-warning piyo" ng-model="form.reality" btn-radio="'PR'" uncheckable>PR</label>
        </div>
      </div>
    </div>

    <div style="display: flex; width: 100%;">
      <div class="btn-group">
        <label class="btn btn-warning piyo" ng-model="form.color" btn-radio="'white'" uncheckable>白</label>
        <label class="btn btn-warning piyo" ng-model="form.color" btn-radio="'red'" uncheckable>赤</label>
        <label class="btn btn-warning piyo" ng-model="form.color" btn-radio="'blue'" uncheckable>青</label>
        <label class="btn btn-warning piyo" ng-model="form.color" btn-radio="'green'" uncheckable>緑</label>
        <label class="btn btn-warning piyo" ng-model="form.color" btn-radio="'black'" uncheckable>黒</label>
        <label class="btn btn-warning piyo" ng-model="form.color" btn-radio="'colorless'" uncheckable>無</label>
      </div>
    </div>

    <div style="display: flex; width: 100%;">
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.levelFrom" ng-options="f for f in levels">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ レベル ≦
        </div>
        <select class="hoge" ng-model="form.levelTo" ng-options="f for f in levels">
          <option value="" selected="selected">-</option>
        </select>
      </div>
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.powerFrom" ng-options="f for f in powers">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ パワー ≦
        </div>
        <select class="hoge" ng-model="form.powerTo" ng-options="f for f in powers">
          <option value="" selected="selected">-</option>
        </select>
      </div>
    </div>





    <div style="display: flex; width: 100%;">
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.costWhiteFrom" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ 白 ≦
        </div>
        <select class="hoge" ng-model="form.costWhiteTo" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
      </div>
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.costRedFrom" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ 赤 ≦
        </div>
        <select class="hoge" ng-model="form.costRedTo" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
      </div>
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.costBlueFrom" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ 青 ≦
        </div>
        <select class="hoge" ng-model="form.costBlueTo" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
      </div>
    </div>
    <div style="display: flex; width: 100%;">
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.costGreenFrom" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ 緑 ≦
        </div>
        <select class="hoge" ng-model="form.costGreenTo" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
      </div>
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.costBlackFrom" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ 黒 ≦
        </div>
        <select class="hoge" ng-model="form.costBlackTo" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
      </div>
      <div class="four columns" style="display: flex;">
        <select class="hoge" ng-model="form.costColorlessFrom" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
        <div style="padding: 1em 1em;">
          ≦ 無 ≦
        </div>
        <select class="hoge" ng-model="form.costColorlessTo" ng-options="f for f in costs">
          <option value="" selected="selected">-</option>
        </select>
      </div>
    </div>


    <div style="display: flex; width: 100%;">
      <div class="six columns">
        <select class="piyo" ng-model="form.constraintTemp" ng-options="c.Type for c in constraints">
          <option value="" selected="selected">-- 限定 --</option>
        </select>
      </div>
      <div class="six columns">
        <label>
          <input type="checkbox" ng-model="form.bursted">　バーストアイコン
        </label>
      </div>
    </div>

    <div style="display: flex; width: 100%;">
      <div class="six columns">
        <select class="piyo" ng-model="form.expansionTemp" ng-options="p.Id for p in products">
          <option value="" selected="selected">-- エキスパンション --</option>
        </select>
      </div>
      <div class="six columns">
        <select class="piyo" ng-model="form.illusTemp" ng-options="i.Name for i in illustrators">
          <option value="" selected="selected">-- イラストレーター --</option>
        </select>
      </div>
    </div>




    <button type="button" class="btn btn-nomal btn-block" ng-click="reset();">リセット</button>
    <button type="button" class="btn btn-info btn-block">検索</button>
  </div>


  <!-- カード -->
  <div class="panel" dir-paginate="card in cardList | itemsPerPage: 2: 'cust'" pagination-id="cust">
    <div class="panel-heading" ng-style="{{setColor(card.Color)}}">
      <h4 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <a href="/card/{{card.Expansion}}/{{card.No | padding}}">{{card.Name}}</a>
      <div style="padding: .8em 0 1.1em 0;">
        <div style="float: left; padding-top: 0.1em;">
          <span class="label label-default">{{card.Category}}</span>
        </div>
        <div style="float: right; text-align: right;">
          <p ng-show="card.Category == 'ルリグ'">
            レベル {{card.Level}} / リミット {{card.Limit}} / <span ng-repeat="c in card.Cost track by $index">({{c}})</span><span ng-show="card.Cost"> / </span>{{card.Type}} / {{card.Expansion}}-{{card.No | padding}} {{card.Reality}}
          </p>
          <p ng-show="card.Category == 'アーツ'">
            <span ng-repeat="c in card.Cost track by $index">({{c}})</span>
            <span ng-show="card.Constraint">/ {{card.Constraint}}</span>
            / {{card.Expansion}}-{{card.No | padding}} {{card.Reality}}
          </p>
          <p ng-show="card.Category == 'シグニ'">
            レベル {{card.Level}} / パワー {{card.Power}} / {{card.Type}} <span ng-show="card.Constraint">/ {{card.Constraint}}</span> / {{card.Expansion}}-{{card.No | padding}} {{card.Reality}}
          </p>
          <p ng-show="card.Category == 'スペル'">
            <span ng-repeat="c in card.Cost track by $index">({{c}})</span>
            <span ng-show="card.Constraint">/ {{card.Constraint}}</span>
            / {{card.Expansion}}-{{card.No | padding}} {{card.Reality}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- //カード -->
  <dir-pagination-controls pagination-id="cust"></dir-pagination-controls>

</div>